body {
    font-family: Nunito, sans-serif;
    font-weight: 400;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 960px;
}

.section {
    padding: 25px 0px;
}
.section-small{
	padding:50px 0;
    margin: 0 0 40px;
}

.section-bottom {
    padding: 0px 0px 50px;
}
.section-top {
    padding: 50px 0px 0;
}

.hero-section-lngTxt h2 {
    color: #fff;
    font-size: 4.3rem;
    font-weight: 700;
    margin: 0 -5%;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
        background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #f5e9a91a;
    /* text-shadow: 0 2px 6px #000; */
    letter-spacing: -1px;
}
.hero-section-lngTxt {
    height: 85vh;
    background: url("../img-lngPg/BG2.jpg");
background-position: center;
    background-repeat: no-repeat;
background-size: cover;
}
.big-text.withbg {
    color: #fff;
    padding: 60px 0;
    text-align: center;
    margin-bottom: -60px !important;
    font-weight: 300;
    font-style: initial;
}
.mm-title {
    font-size: 1.9rem;
    margin: 0 0 18px !important;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ff5613;
    font-weight: 600;
}
.mt-5, .my-5 {
    margin-top: 1rem !important;
    margin-bottom: 0rem !important;
}

.uni-text {
font-size: 48px;
font-stretch: normal;
font-style: normal;
line-height: 1;
font-weight: 400;
letter-spacing: normal;
text-align: center;
color: #000c5d;
margin: 0 -4%;
}

.uni-img-section { background: none !important;}

h4 {
    font-size: 2.2rem;
}
p {
    font-size: 23px !important;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #3e3e3e;
    padding: 8px 0 8px;
    margin: 0 0 9px;
}
b, strong {
    font-weight: 700;
}
.img-fluid.flt-Lft-med {
    float: left;
    margin: 12px 20px 0 -3%;
}
.hero-text {
    font-size: 3.1rem;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #ffffff;
    margin: -18% -2% 10px;
    text-align: center;
    font-weight: 200;
    font-style: normal;
}
.lngPge h2 {
    font-size: 3.8rem;
    line-height: 1;
    color: #fff;
    font-style: italic;
    font-weight: 200 !important;
}
.big-text.lngPge h2 {
    font-size: 3.9rem;
    color: #da55bf;
    font-weight: 600 !important;
    letter-spacing: -1px;
}
.big-text.lngPge p {
    font-size: 2.5rem !important;
    line-height: 1;
    font-weight: 600;
    margin: 0 0 -8px;
}
.big-text.lngPge {
    margin-bottom: 26px;
}

.uni-right h4 {
    font-size: 3.2rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000c5d;
    margin: 0 0 -12px;
}
.lngPge h4 {
    font-size: 1.9rem;
    color: #ff6c00;
}
.h4sub {
    color: #666 !important;
    margin-bottom: 20px !important;
}
.section-top {
    padding: 0;
    min-height: 100px;
}
.quote-card {
    min-height: 400px;
    display: flex;
    align-items: center;
}


.qc1b {
    background-image: linear-gradient(65deg, rgba(170, 170, 170, 0.6), rgba(0, 0, 0, 0.58)), url('../img-lngPg/q1.png');
background-position-y: center;
border-bottom: 12px solid #fff;
}
.qc2b {
    background-image: linear-gradient(150deg, rgba(46, 46, 46, 0.6), rgba(144, 159, 203, 0.34)), url('../img-lngPg/q2.png');
background-position-y: center;
border-bottom: 12px solid #fff;
}
.qc3b {
    background-image: linear-gradient(260deg, rgba(187, 187, 187, 0.35), rgba(65, 65, 65, 0.58)), url('../img-lngPg/q3.png');
background-position-y: 20%;
border-bottom: 12px solid #fff;
}

.limited {
    line-height: 1.3 !important;
    font-style: italic !important;
    font-weight: 200 !important;
    padding: 25px 0;
}

.qote {
    max-width: 70px;
    margin-bottom: -50px !important;
    display: block;
    margin-left: -45px;
}
.img-fluid.bdrshdw {
    border-radius: 16px;
    box-shadow: 3px 3px 12px;
}
.person-left::before {
    display:none;
}
h2.hd-blue{
    font-size: 3.7rem;
    font-style: italic !important;
    text-align: left;
    color: #007bff;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    margin: 36px 0 10px;
}
.bgTxt-High {
    font-size: 3.5rem;
    margin: 0 0 10px !important;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #bb2f71;
    font-weight: 600;
    font-style: italic;
}
.bt-blue p {
    font-size: 48px !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    font-weight: 400;
    color: #000c5d;
}
.q-para, .q-para p {
    font-size: 1.8rem !important;
    font-weight: 200;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    /* margin: 10px auto; */
    width: 96%;
}
.qc4 {
    background-position-y: 25%;
    padding: 50px 0 !important;
}
.w-70 {
    width: 70% !important;
}
.uni-quote-card {
    min-height: 10px;
    margin: 20px 0;
}
.qc4 {
    background: url(../img-lngPg/q4.png);
        background-position-y: 0%;
}
.qc7 {
    background: url(../img-lngPg/albert.jpg);
    background-size: cover;
    background-position-y: 50%;
    background-position-x: right;
}
.qc8 {
    background: url(../img-lngPg/tesla.jpg);
        background-position-y: 0%;
        background-size: auto;
    background-size: cover;
    background-position-y: 50%;
    background-position-x: right;
}
.container.q-text {
    margin-top: 40px;
    margin-bottom: 40px;
}
.q-text, .q-text p {
    font-size: 1.9rem !important;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding: 0px 12px 0;
}
.q-text span {
    color: yellow;
    font-weight: 500;
}
.chakra2 {
    float: right !important;
    max-width: 400px;
    margin: -40px -3% 20px 20px;
}


.foot-bg {
    position: relative;
    background: url('../img-lngPg/BG.png');
    background-repeat: no-repeat;
    background-position: 0px 200px;
    background-size: cover;
}
.footer-card {
    border-radius: 25px;
    box-shadow: 0 10px 50px 0 #385a8e;
    background-color: #ffffff;
    padding: 70px 70px 40px;
}
.f-card-head h4 {
    font-size: 2.6rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #b8781c;
}
.f-img {
    width: 400px;
    float: right;
    margin-right: -7%;
    margin-top: -34px;
}
.f-card-img {
    padding-bottom: 20px;
}
.f-card-head h4 span {
    font-weight: 600;
}
.img-fluid.ccard {
    max-width: 70px;
}
.pay-list.my-5.d-flex.align-items-center.justify-content-between {
    max-width: 70% !important;
    margin: 16px auto -10px !important;
    flex-wrap: nowrap;
}


.button-price h2{
    font-size: 80px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -2px;
    text-align: center;
    color: #ff3000;
    padding: 40px 0 20px;
    text-shadow: 0 0 10px yellow;
    font-style: normal;
}
.button-price button{
	height: 110px;
    width: 500px;
    background-color: red;
    border-radius: 60px;
    font-size: 2.4rem;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} 


.glowBtn {
    border-color: #ff3c00;
    color: #fff;
    box-shadow: 0 0 40px 40px #ff3c00 inset, 0 0 0 0 #ffcb00;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.glowBtn:hover {
  box-shadow: 0 0 10px 0 #ffd900 inset, 0 0 10px 4px #3498db;
}

.d-flex.align-items-center.rndbrder {
    border: 2px solid #ffbf00;
    border-radius: 20px;
    padding: 0px 20px 0px 0;
    margin-left: 20px;
}
.rndbrder img {margin: -30px;}

.sprCharge h3 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.1;
    padding-bottom: 40px;
    color: #007bff;
}

/* MOBILE */
@media screen and (max-width: 560px) {

    .hero-section-lngTxt {
        height: 100vh;
        margin-bottom: -236px;
    }
    .hero-text {
    font-size: 2.3rem;
    margin: -58% -2% 10px;
    }
    .hero-section-lngTxt h2 {
    color: #fff;
    font-size: 3.4rem;
    }
    .uni-text {
    font-size: 34px;
    margin: 0;
    }
    .w-70 {
    width: 100% !important;
    }

    .q-para, .q-para p {
    font-size: 1.8rem;
    width: 90%;
    }
    .lngPge h2 {
    font-size: 2.7rem; }
    .lngPge h4 {
    font-size: 1.6rem;}

    .button-price button {
        height: 80px;
        width: 330px;
        font-size: 1.5rem;
    }
    .pay-list.my-5.d-flex.align-items-center.justify-content-between {
        max-width: 120%;
        margin: 0 -10% 0 -10%;
    }
    .img-fluid.ccard {
        max-width: 30px;
    }

}